<?xml version="1.0"?>
<launch>

    <!-- Colour detection part -->
    <arg name="target_colour" default=""/>
    <node name="detect_colour" pkg="com2009_team00" type="detect_colour.py"  output="screen" respawn="false">
        <param name="target_colour" value="$(arg target_colour)"/>
    </node>

    <!-- SLAM, and exploration part -->
    <!-- <include file="$(find com2009_team00)/launch/slam.launch"/> -->
    <include file="$(find com2009_team00)/launch/explore.launch"/>
    
</launch>